<!-- User Header -->

<div class="bg-light p-3 header">
  <div class="row">
    <div class="col-lg-9 col-sm-12 col-md-8 mb-1">
      <a
        class="navbar-brand text-secondary"
        routerLink="/github-profile-component"
      >
        <i class="fa fa fa-reply" style="width: 20; height: 20"></i>
        Back
      </a>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-4 user-profile">
      <div class="card bg-light">
        <div class="row">
          <div class="col-4 col-sm-4 col-lg-4 col-md-5">
            <img
              src="../../assets/AvinashImg.jpeg"
              max-width="90px"
              height="80px"
              alt=""
              class="rounded"
            />
          </div>
          <div class="col-8 col-sm-8 col-lg-8 col-md-7">
            <h5 class="card-title text-secondary">User name</h5>
            <p class="card-text text-muted">@handle</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- User Detail-- start -->

<div class="p-3">
  <div class="card-body">
    <h6 class="card-subtitle mb-1 text-secondary samll">Bio</h6>
    <p class="card-text text-muted mb-4">
      Some quick example text to build on the card title and make up the bulk of
      the card's
    </p>
    <h6 class="card-subtitle mb-1 text-secondary mt-2 small">Works at</h6>
    <p class="card-text text-muted mb-3">The House Monk at Bangalore</p>
    <div class="row mt-4">
      <div class="col-8">
        <h6 class="card-subtitle mb-1 text-secondary small">Repositries</h6>
      </div>
      <div class="col-4">
        <h6 class="card-subtitle mb-1 text-secondary small">Followers</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <h6 class="card-text mb-1 text-muted">52</h6>
      </div>
      <div class="col-4">
        <h6 class="card-text mb-1 text-muted">259</h6>
      </div>
    </div>
  </div>

  <div class="p-3">
    <h6 class="card-subtitle mt-2 mb-3 text-muted small">
      Printed Repositries
    </h6>
    <div class="row">
      <div
        *ngFor="let data of gituserNameData"
        class="col-sm-12 col-md-6 col-lg-4 mb-3"
      >
        <app-common-card-component
          [title]="data.username"
          [subtitle]="data.discription"
        ></app-common-card-component>
      </div>
    </div>
  </div>
</div>
