.fa-user {
  background-color: rgb(13, 148, 233);
  padding: 10px;
  border-radius: 60%;
  font-size: 1.5em;
}
.card {
  box-shadow: 2px 2px 2px grey;
}
@media (max-width: 575.98px) {
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .card {
    width: 100px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* .card{
        width:200px;
    } */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 340px;
    padding: 5px;
  }
}
